* {
    margin: 0;
}

body {
    background-color: #F5F5F5;
}

@media (max-width: 480px) {
    .task {
        background-color: white;
        width: 90%;
        height: 95vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .task-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-header img {
        margin-top: -25px;
    }

    .task-body h1{
        font-family: 'Manrope', sans-serif, bold;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        margin-bottom: 40px;

    }

    .task-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .task-input p{
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
    }

    .task-input-title {
        margin-left: 5px;
        margin-right: 5px;
        font-weight: 500;
    }

    .task-input button {
        background-color: #007bff;
        color: whitesmoke;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.5px;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 30px;
        border-radius: 6px;
        width: 100px;
        height: 40px;
        cursor: pointer;
    }

    .task-input button:hover {
        background-color: #0056b3;
        color: whitesmoke;
    }

    ul li {
        background-color: #F5F5F5;
        border-radius: 12px;
        margin-top: 10px;
        margin-right: 45px;
        display: flex;
        height: 35px;
        align-items: center;
        text-align: left;
        font-family: 'Manrope', sans-serif;
    }

}